body{
    margin: 0;
    font-family: arial, sans-serif;
    background-color: #f0f0f0f0;
}

.register-screen{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-panel {
    background-color: #3d68f5;
    color: white;
    width: 600px;
    height: 600px;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    text-align: left;
}

.left-panel h1 {
    font-size: 110px;
    margin-bottom: 20px;
}

.left-panel .highlight {
    color: #f6c24e;
    font-weight: bold;
}

.left-panel p {
    font-size: 30px;
}

.left-panel a {
    color: #f6c24e;
    text-decoration: none;
}


.right-panel{
    background-color: white;
    width: 600px;
    height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.role-option{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.role-option .icon {
    width: 150px;
    height: 150px;
    background-color: #3d68f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.role-option p {
    font-size: 30px;
    color: #3d68f5;
}