/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex; /* Use flexbox to center */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Ensure body takes full viewport height */
}

/* Welcome Screen */
.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
    background-color: #3d68f5;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.welcome-screen h1 {
    font-size: 70px;
}

.welcome-screen .highlight {
    color: #f6c24e;
    font-weight: bold;
}

.welcome-screen p {
    font-size: 30px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

button {
    padding: 15px 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

.signin-btn {
    background-color: white;
    color: #f6c24e;
    font-weight: bold;
}

.register-btn {
    background-color: white;
    color: #f6c24e;
    font-weight: bold;
}
